<h1>User Profile</h1>
<%#= @user. %>
<p><%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-primary"%></p>
<p><%= link_to "Back", countries_path, class: "btn btn-primary"%></p>
