<div class="culture">
  <div class="culture-tab">

    <p>Swan into China without making a few adjustments to your cultural radar and you’re setting yourself up for a fall. You’ll want to buy one or two absolute essentials before you head out, too. And then there’s the visa – do not forget the <%= link_to "visa", visa_info_path %>.</p>

    <h4>Visa</h4>
    <p>Unless you’re from Singapore, Brunei or Japan, you need a visa to stay in China for more than 72 hours. Contact your local Chinese consulate or use a third-party visa company for greater ease (and higher fees). The process for obtaining a tourist visa differs from country to country, but you should plan on it taking up to a month.</p>

    <h4>VPN</h4>
    <p>Downloading a VPN before you travel will allow you to bypass China’s so-called Great Firewall, which blocks Google, Facebook, and Twitter. Astrill VPN is popular among expats.</p>

    <h4>Money</h4>
    <p>With the emergence of mobile payment methods such as Alipay, WeChat Wallet and even Apple Pay – most of which must be linked to a local bank card – China’s economy is no longer so reliant on cash. That said, cash is still accepted everywhere and you’ll be able to withdraw it from ATMs using foreign bank cards.</p>

    <h4>Tip</h4>
    <p>Tipping culture simply doesn’t exist in China. Some of the really nice restaurants in the big cities may include gratuity on the bill but leaving cash tips on the table is not the done thing.</p>

    <h4>Water</h4>
    <p>Locals don’t drink it and neither should you: tap water in China tends to contain an unhealthy level of heavy-metal particles. Using a bit to wet your toothbrush is fine, but don’t start guzzling the stuff. Bottled water is ubiquitous and cheap.</p>

    <h4>Booze</h4>
    <p>Beer and wine are generally safe anywhere you go in China, but exercise caution when it comes to buying spirits in bars and clubs: a cheap brand – or even moonshine – may have been poured into an expensive-looking bottle.</p>

    <h4>Hygene</h4>
    <p>Bring toilet paper and hand sanitiser. While your hotel will have a Western-style toilet, squatty potties are still the norm in China, and most bathrooms don’t have toilet paper or soap.</p>

    <h4>Transportation</h4>
    <p>Wearing a seat belt is still not common practice in China, however chaotic the traffic gets. The buckle may be buried deep in the cushions but be sure to dig it out – even if your driver starts accusing you of questioning their prowess behind the wheel.</p>

    <h4>Security</h4>
    <p>Chinese hotels are required by law to register guests with the police and they will need your passport in order to do so. It is also possible (though not common) for a police officer to stop you in the street and ask for your identification.</p>

    <h4>Fun</h4>
  <p>Even with millions of international visitors every year, China is still fascinated by a foreign face and people may ask to have their photo taken with you. Though it’s no longer common in Shanghai, be prepared to say qiezi! – which literally translates as ‘aubergine!’ but is used thanks to its similarity to the English ‘cheese!’ – and flash your best peace sign when locals in other parts of the country request that you take a starring role in their latest WeChat moment.</p>
  <div>Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
</div>
