<h1 style ="font-size: 15px;"><%= place.name %></h1>
<img class="place-img" style="height: 200px; width: 200px;" src="<%= place.photo%>" >
<p><b>City:</b> <%= place.city %></p>
<p class="btn btn-flat"><%= link_to 'More info', place.link %></p>
