
<h1>Countries#index</h1>
<p>Find me in app/views/countries/index.html.erb</p>


<%= link_to 'Login with Facebook', user_facebook_omniauth_authorize_path %>

<% if user_signed_in? %>
<% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
<%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
<%= link_to "sign out", destroy_user_session_path, method: :delete %>
<% end %>

<h1>Home (countries#index)</h1>
<p><%= link_to "User 1", profile_path, class: "btn btn-primary"%></p>
<h2>Connect With Other Users</h2>

