<h1>Countries </h1>

<%#= link_to 'Login with Facebook', user_facebook_omniauth_authorize_path %>

<% if user_signed_in? %>
<p><%= link_to "Profile", profile_path(current_user), class: "btn btn-primary"%></p>
<% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
<% end %>


<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Africa</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Asia</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Australia</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Europe</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">North America</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">South America</a>
  </li>
</ul>

<br>
<br>
<h2>Connect With Other Users</h2>
<% @users.each do |user| %>
  <%= link_to profile_path(user) do  %>
      <div class="user-card d-flex">
        <p><%= user.first_name  %></p>
        <%= image_tag "http://placehold.it/30x30", class: "avatar" %>
      </div>
  <% end %>
<% end %>
