.banner {
  background-size: cover;
  background-position: center;
  height: 475px;
  margin-top: -60px;
  width: 100%;
  background-attachment: inherit;
  display: flex;
  position: relative;
  align-items: flex-end;
}

.banner h1 {
  width: 275px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  font-size: 31px;
  color: black;
  // font-weight: bold;
  display: flex;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.22);
  margin-bottom: 216px;
  margin-left: 36px;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

@media screen and (min-width: 480px) {
 .banner {
    height: 475px;
 }
}

// .info-section i {
//   border: solid black;
//   border-width: 0 3px 3px 0;
//   display: inline-block;
//   padding: 3px;
//   z-index: 10;
// }

// .right {
//   transform: rotate(-45deg);
//   -webkit-transform: rotate(-45deg);
// }

