.country-card {
  width: 50%;
  height: 200px;
  padding: 0;
  display: flex;
  justify-content: center;
  grid-auto-columns: auto;
}

.row {
  margin-bottom: 24px;
}

.country-card p {
  display: flex;
  justify-content: center;
  margin: 0;
  color: black;
}


.country-card a {
  text-decoration: none;
  :hover {
    color: $yellow;
  }

.country-card img {
  width: 175px;
  height: 140px;
  display: flex;
}
