.culture-tab h3 {
    display: flex;
    -webkit-box-align: center;
    border-bottom: 3px solid;
    border-bottom-color: #FFD364;
    height: 41px;
    font-size: 24px;
    margin: 10px;
}
.culture h4 {
  font-size: 22px;
}
.culture p {
  font-size: 18px;
}


.section-title-container{
display: flex;
// align-items: baseline;
img{
  margin-right: 10px
}
}
