.culture-tab h3 {
    display: flex;
    -webkit-box-align: center;
    border-bottom: 3px solid;
    border-bottom-color: #FFD364;
    height: 40px;
    font-size: 25px;
    margin: 8px;
}
.culture h4 {
  font-size: 20px;
}
.culture p {
  font-size: 16px;
}

.culture {
  margin-bottom: 48px;
}

.culture-container{
display: flex;
// align-items: baseline;
img{
  margin-right: 8px
}
}


$lightgrey: #f0f0f0;
$clouds: #ecf0f1;
// General
.culture body {
  color: $lightgrey;
  background: $clouds;
  padding: 0 1em 1em;
}
.culture h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
.culture h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}
.culture input {
  position: absolute;
  opacity: 0;
  z-index: -1;
.tab-content {
    display: none;
  }
}
// Layout
.culture .row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.culture .tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.culture .tab {
  width: 100%;
  color: black;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $lightgrey;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($lightgrey, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: black;
    background: white;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 16px;
    background: $lightgrey;
    cursor: pointer;
    &:hover {
      background: darken($lightgrey, 10%);
    }
  }
}

// :checked
.culture input:checked {
  + .tab-label {
    background: darken($lightgrey, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
    display: block;
  }
}
