.log-in h2 {
  text-align: center;
}

.log-in-sign-up {
  text-align: left;
  margin-left: 50px;
  margin-top: 16px;
}

.form-actions-pass {
  padding: 0px;
}

.pass h2 {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.form-content a {
  margin-top: 16px;
  margin-bottom: -32px;
}
