.navbar-brand img {
  width: 100px;
}

.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  height: 50px;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler-icon {
    display: inline-block;
    color: black;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.button .navbar-light .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: black;
    border-color: transparent;
    background-color: transparent;
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.nav-box-link {
  color: black;
}

.nav-box {
  width: 300px;
}

.nav-item-navbar{
  margin-left: auto;

}
