.profile-banner {
  background-size: cover;
  background-position: center;
  height: 50px;
  margin-top: -60px;
  width: 100%;
  background-attachment: inherit;
  display: flex;
  align-items: flex-end;
  transition: all .2s linear;
}

.big-height {
  height: 320px !important;
}

#margin-bottom {
  margin-bottom: 16px;
}

#profile-container {
  padding: 15px;
}

.profile-chapters {
  margin-top: 10px;
}

#country_id {
  padding: 9px 12px;
  background: $light-gray;
  border: transparent;
  margin-bottom: 16px;
}

.profile-icons p {
  margin-bottom: 8px;
  font-size: 14px;

}

.avatar-large {
  width: 100px;
}

#social {
  display: flex;
  justify-content: center;
  p {
    margin-right: 10px;
  }
}

#email {
  text-align: center;
}

.profile-info {
  margin-right: 20px;
  margin-left: 20px;
  padding: 8px;
}

.country-list {
    display: -webkit-box;
    -webkit-box-pack: center;
}

#profile-country-card, .profile-country-card {
  width: 342px;
  height: 124px;
}

#bio {
  margin-top: 8px;
  padding: 8px;
}

#h4-profile {
  margin-top: 8px;
  margin-bottom: 8px;
}
