.show-banner {
  width: 100%;
}

.country-show h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 16px;
  font-size: 28px;
}

.tab-pane {
  height: 275px;
  text-align: center;
}
